<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Campgrounds</title>
  </head>
  <body>
    <h1>Campgrounds</h1>
    <h2><a href="/campgrounds/new">Create new</a></h2>
    <ul>
      <% for(let camp of campgrounds){ %>
      <li>
        <a href="/campgrounds/<%= camp._id %>"><%= camp.title %></a>
        <img src="<%= camp.image %>" alt="" srcset="" width="150" />
      </li>
      <% } %>
    </ul>
    <form action="/logout" method="POST">
      <button>Logout</button>
    </form>
  </body>
</html>
